* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: #444444;
}

h1 {
  font-size: 2.5em;
  color: #ffffff;
  background-color: #03a3df;
  padding: .5em;
  border: none;
  margin: .5em;
}

header {
  background-color: #03a3df;
}

.flex-container {
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.header-img {
  padding: 1em .25em .25em .5em;
  border: none;
  width: 20%;
  height: 40%;
  float: left;
}
/*figure out proper image size*/

nav ul {
  list-style: none;
  color: #ffffff;
  float: right;
  position: relative;
  padding: .25em;
  border: none;
  margin: .25em;
  width: 33%;
  font-size: .88em;
  font-weight: 700;
}
nav li {
  display: inline;
  color: #ffffff;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.06em;
}

blockquote {
  font-size: 1.88em;
  color: #03a3df;
}


a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #ecb722;
}
a:visited {
  color: #1b447f;
}

.container-box {
  box-sizing: content-box;
  padding: 1em;
  border: 1px black solid;
  align-items: center;
  justify-content: center;
}

.col {
  float: left;
  padding: .5em;
  border: 1px solid red;
}
nav::after {
  clear: both;
}

.grid-item-1, .grid-item-2, .grid-item-3 {
  width: 33%;
  background-color: #1b447f;
  color: #ffffff;
}

.instructor {
  color: #ecb722;
}

footer {
  background-image: url("../assets/footerImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index; -1;
  margin: .5em;
}

footer p {
  color: #ffffff;
  font-size: .75em;
  width: 50%;
}
.white {
  padding: .25em;
  border: none;
  width: 20%;
  position: relative;
  z-index: 1;
}

.fa-facebook-f, .fa-instagram, .fa-twitter {
  font-size: 1em;
  padding: .25em;
  margin: .25em;
}
