* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: #444444;
}

h1 {
  font-size: 2.5em;
  color: #ffffff;
  background-color: #037EAB;
  padding: .5em;
  border: none;
  margin: .5em;
}

header {
  background-color: #037EAB;
  padding: .5em;
  border: none;
  margin: .5em;
}

.header-img {
  padding: 0.25em .25em .5em;
  border: none;
  max-width: 20%;
  max-height: 80%;
  float: left;
}

nav ul {
  list-style: none;
  color: #ffffff;
  float: right;
  position: relative;
  padding: .5em;
  border: none;
  margin: .5em;
  width: 33%;
  font-size: .88em;
  font-weight: 700;
}
nav li {
  display: inline;
  color: #ffffff;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.06em;
}

blockquote {
  font-size: 1.88em;
  color: #03A3DF;
  width: 50%;
}

.name {
  font-size: .88em;
  font-weight: 700;
}

.caption {
  font-size: .88em;
  color: #ecb722;
  display: inline;
}

figure.owner {
  background-color: #1b447f;
  padding: 1em;
  margin: 1em;
  width: 25%;
}

a {
  text-decoration: none;
  color: #ffffff;
  padding: .5em;
  margin: .5em;
}

a:hover {
  color: #ecb722;
}
a:visited {
  color: #1b447f;
}

.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}
.hidden:focus {
  left: 0;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin: 1em;
}

.flex-map {
  width: 45%;
}

.flex-cal {
  width: 45%;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
p.vid-cap {
  background-color: #1b447f;
  padding: 1em;
  border: 2px solid #ecb722;
  color: #ffffff;
  font-size: .88em;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-gap: 1em 1em;
}

nav::after {
  clear: both;
}

.grid-item-1 {
  grid-column: 1;
  grid-row: 2 / 3;
  background-color: #1b447f;
  color: #ffffff;
  padding: .5em;
  margin: 1em;
}

.grid-item-2 {
  grid-column: 2;
  grid-row: 2 / 3;
  background-color: #1b447f;
  color: #ffffff;
  padding: .5em;
  margin: 1em;
}

.grid-item-3 {
  grid-column: 3;
  grid-row: 2 / 3;
  background-color: #1b447f;
  color: #ffffff;
  padding: .5em;
  margin: 1em;
}

.instructor {
  color: #ecb722;
}

section::after {
  clear: both;

}
footer {
  background-image: url("../assets/footerImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
  margin: .5em;
}

footer p {
  color: #ffffff;
  font-size: .75em;
  width: 50%;
  padding: .5em;
  margin: 5em;
}
.white {
  padding: .5em;
  border: none;
  width: 20%;
  position: relative;
  z-index: 1;
}

.fa-facebook-f, .fa-instagram, .fa-twitter {
  font-size: 1em;
  padding: .25em;
  margin: .25em;
}
