* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: #444444;
}

h1 {
  font-size: 2.5em;
  color: #ffffff;
  background-color: #03a3df;
  padding: 1em;
  border: none;
  margin: 0;
  width: 100%;
}

.map {
  padding: 1em;
  border: none;
  margin: .5em;
}
nav ul {
  list-style: none;
  /*color: #ffffff;*/
  float: right;
  position:relative;
  display:inline-block;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.06em;
}

blockquote {
  font-size: 1.88em;
  color: #03a3df;
}

a {
  text-decoration: none;
}

.col {
  float: left;
  padding: .5em;
  border: 1px solid red;
}
nav::after {
  clear: both;
}

.grid-item-1, .grid-item-2, .grid-item-3 {
  width: 33%;

}
footer img {
  width: 100%;
}
.logo footer img {
  width: 33%;
}
