* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: #444444;
}

h1 {
  font-size: 2.5em;
  color: #ffffff;
  background-color: #03a3df;
  padding: .5em;
  border: none;
  margin: 0;
}

header {
  background-color: #03a3df;
}

.flex-container {
  flex-flow: row wrap;

}

.header-img {
  width: 20%;
}

nav ul {
  list-style: none;
  color: #ffffff;
  float: right;
  position:relative;
}
nav li {
  display: inline;
  color: #ffffff;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.06em;
}

blockquote {
  font-size: 1.88em;
  color: #03a3df;
}

/*a:link, a:visited {
  color: #264E36;
  padding: .5em;
  border: none;
  margin: .5em;
  text-align: center;
  text-decoration: none;
}*/

/*a:visited {
  color: #264E36;
}*/

/*a:hover {
  color: #577284;
}*/

/*a:active {
  color: #CE5B78;
} */

a {
  text-decoration: none;
}

a:hover {
  color: #ecb722;
}
a:visited {
  color: #1b447f;
}
.container-box {
  box-sizing: content-box;
  padding: 1em;
  border: 1px black solid;
  align-items: center;
  justify-content: center;
}


.col {
  float: left;
  padding: .5em;
  border: 1px solid red;
}
nav::after {
  clear: both;
}

.grid-item-1, .grid-item-2, .grid-item-3 {
  width: 33%;
  background-color: #1b447f;
  color: #ffffff;
}

.instructor {
  color: #ecb722;
}

footer {
  background-image: url("../assets/footerImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index; -1;
}

footer p {
  color: #ffffff;
}
.white {
  position: relative;
  z-index: 1;
}
